﻿.container > footer {
  margin-top: 20px;
}
.container > footer p {
  /* text-align: center;  center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 0px 20px 20px;
  margin: 0px -20px 20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 0px 15px rgba(0,0,0,.5);
     -moz-box-shadow: 0 0px 15px rgba(0,0,0,.5);
          box-shadow: 0 0px 15px rgba(0,0,0,.5);
}

/* Page header tweaks */
.page-header {
  background-color: rgba(225,225,225,.66);
  padding: 20px 20px 20px;
  margin: 40px -20px 0px;
}

@media (max-width: 979px) {
	.page-header {
	margin: -20px -20px 0px;
  }
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/* Content stuff ================*/
p {
	font-family: Georgia, "Adobe Garamond Pro", "Apple Garamond", "ITC Garamond", "Times New Roman", Times, serif;
	font-size: 1.5em;
	line-height:1.5em;
}