<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="description" content="Dan Arbaugh's GitHub blog">
		<meta name="author" content="Dan Arbaugh">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<link rel="alternate" type="application/atom+xml" href="http://danarbaugh.github.com/atom.xml">
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet">
		<link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container"> 
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
				<div class="nav-collapse collapse">
				<ul class="nav">
					{% assign pages_list = site.pages %}
					{% assign group = 'navigation' %}
					{% include JB/pages_list %}
				</ul>
				</div>
			</div>
		</div>
		</div>
		<div class="container">
			<div class="page-header hero-unit">
				<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
			</div>
			<div class="content">
				{{ content }}
			</div>
		</div><!-- /container -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
		<script src="{{ ASSET_PATH }}/js/jquery.backstretch.min.js"></script>
		<script>
			$.backstretch("https://dl.dropbox.com/u/10950966/235_wpm_hires.jpg");
		</script>
		{% include JB/analytics %}
	</body>
</html>